body {
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background:#ffd0a8;
    color:#333;
    font-family:'calibri','sans-serif';
    font-weight:400;
    text-transform: capitalize;
}

.container {
    text-align:center;
    padding:2rem;
    border-radius:5px;
    background-color:#fff; 
    flex:0,0,80%;
    
}

/*
.hexcolor{
    text-transform: capitalize;
}

.hex{
  font-size:3rem;   
}
*/
#quotesBtn{
    padding:0.25rem,0.5rem;
    border: none;
    border-radius:7px;
    color:#fff;
    background:#d89156;
    font-size:0.85rem;
    text-transform:captalize;
    cursor:pointer;
    outline:none;
    text-transform: capitalize;
}
.quotesBtn:hover{
    background: rgb(0,0,0)
}

blockquote{
    background:#f9f9f9;
    border-left: 10px solid #fcdbbf;
    margin:1.5rem;
    padding: 0.5rem;
}

#quoteAuther{
    color:#ffd000
}